/* Colors and Fonts */
body {
  font-family: 'Noto Sans', sans-serif;
  background-image: url("../../images/liquid+.png");
  color: #ffffff;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
h2 { 
  font-size: 22px;
}
a {
  text-decoration: underline;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  transition: 0.25s;
  color: #009DFE;
}
a:hover {
  opacity: 1
}

/* Responsive */
.container {
  width: 700px;
  margin: 40px auto;
}
@media (max-width: 960px) {
  .container {
    width: 700px;
  }
}
@media (max-width: 720px) {
  .container {
    width: 500px;
  }
}
@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}

/* CSS classes */
.card-dark {
  padding: 35px;
  box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
  border-radius: 4px;
  margin: 20px 0px;
  text-align: center;
  background-color: #333638;
}
.in-between-card{
  display: flex; 
  justify-content: center
}
.img-circle {
  border-radius: 50%;
}
.list-inline {
  list-style: none;
  padding-left: 0px;
}
.list-inline li {
  display: inline;
  padding: 10px;
}
.list-inline i {
  font-size: 50px;
  color: rgb(230, 230, 230);
}
.list-inline i:hover {
  color: black;
}


/* Custom Button */
.btn {
  outline: none;
  cursor: pointer;
  display: inline-block;
  background-color: transparent;
  font-family: "Dosis", sans-serif;
  font-size: 16px;
  font-weight: 600;
  color: #000000;
  text-transform: uppercase;
  letter-spacing: 1px;
  height: 50px;
  line-height: 50px;
  padding: 0 50px;
  border: none;
  border-right: 1px solid #000000;
  position: relative;
  transition: color 0.2s ease-in-out 0s;
  text-align: center;
}
.btn:before, .btn:after {
  content: "";
  position: absolute;
  top: 0;
}
.btn:before {
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff !important;
  z-index: -1;
}
.btn:after {
  right: -1px;
  width: 1px;
  height: 50px;
  background-color: #009DFE !important;
  transform: rotate(-90deg);
  transform-origin: center;
  z-index: 0;
  transition: width 0.3s ease-in-out, transform 0.2s ease-in-out 0.3s, z-index 0.15s ease-in-out;
}
.btn:hover {
  color: #ffffff;
  transition: color 0.2s ease-in-out 0.25s;
}
.btn:hover:after {
  z-index: -1;
  transform: rotate(0deg);
  width: 100%;
  transition: transform 0.2s ease-in-out, width 0.3s ease-in-out 0.2s;
}